//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/view/_components/discount
//
.discount {
  font-size: rem(22);
  font-weight: bold;
  @include font('Simplon Headline');

  * {
    @include font('Simplon');
  }

  small {
    font-size: rem(12);
    font-weight: 400;
    margin: 0 rem(2);
  }

  &\:buy {
    @include display(flex, center, flex-start);
    flex-direction: column;
    font-size: rem(12);
    line-height: 1;

    strong {
      font-size: rem(16);
      font-weight: 900;
    }
  }
} // -> discount
