//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/_components/layout/msisdn
//

.msisdn {
  @include font('Simplon Headline');
  font-size: rem(22);
  color: var(--dark-grey);
  margin-bottom: rem(15);
}
