//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/_components/layout/search
//

.search {
  @include display(flex, space-between, center);
  max-width: rem(378);
  width: #{( 378 / 414) * 100}vw;
  margin: {
    top: rem(27);
    left: auto;
    right: auto;
    bottom: rem(36);
  }

  &\:group {
    height: auto;
    min-height: none;
    width: 100%;
    border: none;
    margin: 0 rem(15) 0 0;
    padding: 0;
    position: relative;
    background-color: var(--light-grey);
    border-radius: rem(50);

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: rem(23);
      @include size(16, 1);
      background-color: var(--orange);
      transform: translateY(-50%);
    }
  } // -> group

  &\:label {
    position: absolute;
    top: 50%;
    left: rem(37);
    right: auto;
    transform: translateY(-50%);
    transition: all .3s ease;

    color: var(--orange);
  } // -> label

  &\:input {
    border: none;
    border-radius: rem(50);
    height: rem(44);
    width: 100%;
    max-width: none;
    padding-left: rem(37);
    text-align: left;
    background-color: transparent;

    &:focus, &.has-value {
      & + label {
        background-color: var(--light-grey);
        padding: rem(5) rem(7);
        border-radius: rem(100);
        font-size: rem(10);
        top: 0;
        left: rem(25);
      }
    }
  } // -> input

  &\:button {
    @include circle(44);
    flex: 0 0 rem(44);
    @include display(flex, center, center);
    background-color: var(--orange);
    margin: 0;
    cursor: pointer;

    &\:disabled {

    }
  } // ->button
} // -> search
