//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/_components/layout/container
//
.container {
  width: 100%;
  max-width: rem(560);
  margin: 0 auto;
}
