//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/views/Auth
//

.navbar {
	height: rem(99);
	background-color: var(--white);
	position: relative;

	@include display(flex, space-between, center);

	padding: {
		left: rem(25);
		right: rem(18);
	}

	&\:brand {
		@include display(flex, flex-start, center);
		margin-right: auto;

		span {
			margin-left: rem(12);
			color: var(--orange);

			@include font('Simplon HeadLine');
			font: {
				size: rem(16);
			}
		} // -> span
	} // -> brand

	&\:link {
		height: rem(67);
		@include display(flex, flex-start, center);
		padding: {
			left: rem(10);
		}

		figure {
			@include size(67);
			@include display(flex, center, center);
		}

		span {
			color: var(--orange);
			font-size: rem(18);
			font-weight: 300;

			display: block;
			margin: {
				left: rem(34);
			}
		} // -> span

		&:last-child {
			margin: {
				top: auto;
			}
		}
	} // -> link

	&\:togglr {
		@include display(flex, space-between, center);
		flex-direction: column;
		@include size(21, 50);
		margin-left: rem(15);

		span {
			@include display(block);
			@include size(3, 35);
			background-color: var(--orange);
		}
	} // -> togglr

	&\:inner {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 500;

		max-width: rem(560);
		margin: 0 auto;
		@include display(flex);
		flex-direction: column;

		opacity: 0;
		visibility: hidden;
		transform: translateY(20px);

		background-color: var(--light-orange);

		height: 100vh;
		padding-top: rem(35);

    transition: all .2s ease;

    &\:togglr {
      margin-left: auto;
      flex-direction: row;
      width: rem(21);

      span {
        @include size(35, 3);
      }
    } // -> togglr
	} // -> inner

	&\:header {
		width: 100%;
		@include display(flex, flex-start, center);
		padding: {
			left: rem(39);
			right: rem(20);
		}

		&-brand {
			@include display(flex, center, center);
			@include circle(80);
			flex: 0 0 rem(80);
			border: rem(2) solid var(--orange);
		} // -> brand

		&-center {
			width: 100%;
		} // -> center
	} // -> header

	&\:section {
		@include display(flex);
		flex-direction: column;
		@include grow(true);
		width: 100%;
		max-height: rem(492);
		padding: {
			top: rem(46);
			left: rem(35);
		}
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: rem(46);
			right: 0;
			bottom: 0;

			width: rem(50);
			background-color: var(--orange);
			border-radius: rem(24) 0 0 rem(24);
		}
	} // -> section

	&.active {
		.navbar\:inner {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
  } // -> active


  &\:logout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;

    &-text {
      position: absolute;
      z-index: 6;
      top: calc(50% - 30px);
      left: 0;
      right: 0;

      text-align: center;
      color: $orange;
      font-weight: bold;
    }
  } // -> logout
} // -> navbar
