//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/views/_skeletons/collections
//
.skeleton {

  $radius: rem(4);
  $bg: #eee;

  margin: {
    bottom: rem(52);
  }

  &\:items{
    @include display(flex);
    overflow: hidden;
    width: 100%;
    max-width: 100vw;
    padding: {
      left: rem(18);
      bottom: rem(10);
    }
  }

  &\:item {
    @include size(340, 170);
    flex: 0 0 rem(170);
    margin: {
      right: rem(20);
    }
    overflow: hidden;
    background-color: lighten($bg, 5%);
    border-radius: $radius;

    div {
      background-color: $bg;
      border-radius: $radius;

      &:nth-child(1) {
        height: rem(225);
      }
      &:nth-child(2) {
        margin-top: rem(35);
        @include size(20, 100);
      }
      &:nth-child(3) {
        margin-top: rem(7);
        @include size(12, 40);
      }
      &:nth-child(4) {
        margin-top: rem(7);
        @include size(32, 74);
      }
    }
  }

  &\:title {
    @include size(29, 229);
    background-color: $bg;
    margin: {
      left: rem(18);
      bottom: rem(25);
    }
    border-radius: $radius;
  }
}
