//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/views/_components/collections
//
.collection {
  margin: {
    left: auto;
    right: auto;
    bottom: rem(52);
  }
  position: relative;

  &\:header {
    @include display(flex, flex-start, stretch);
    padding: {
      left: rem(20);
      right: rem(20);
    }
  }

	&\:title {
		@include font('Simplon');
		font-weight: bold;
		font-size: rem(19);
    line-height: rem(23);
    color: var(--black);

    @include grow(true);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
	} // -> title

	&\:items {
		@include display(flex);
		overflow: auto;
    height: rem(390);
    padding-left: rem(18);
    @include scrollbar('horizontal', transparent, transparent, transparent, transparent);
	} // -> items

	&\:item {
    @include size(340, 170);
    flex: 0 0 rem(170);
    margin: {
      top: rem(25);
      right: rem(20);
    }
		overflow: hidden;
	} // -> item

	&\:image {
		@include size(225, 170);
		border-radius: rem(4);
		overflow: hidden;
		position: relative;
		z-index: 3;

		img {
			@include size(225, 170);
			object-fit: cover;
			object-position: center;
		}
	} // -> image

	&\:brand {
		@include display(block);
		@include circle(49);
		border: rem(1) solid var(--orange);
		object-position: center;
		object-fit: cover;
		margin: {
			top: rem(-25);
			left: auto;
			right: 0;
		}
		position: relative;
		z-index: 4;
		overflow: hidden;

		img {
			@include display(block);
			width: 100%;
		}
	} // -> brand

	&\:subtitle {
		font-size: rem(16);
		font-weight: bold;
    line-height: rem(20);
    color: var(--black);

		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;

		margin: {
			top: rem(10);
		}
	} // -> subtitle

	&\:company {
		color: var(--grey);
		font-weight: 100;
		font-size: rem(12);

		margin: {
			top: rem(7);
		}
	} // -> company

	&\:discount {
		font-size: rem(22);
		line-height: rem(22);
    text-transform: uppercase;
    color: var(--black);

		flex-grow: 1;
		@include display(flex, flex-start, center);
		white-space: nowrap;
  }

  &\:link {
    @include size(23, 64);
    flex: 0 0 rem(64);

    font-size: rem(18);
    color: var(--black);
  }

	footer {
    @include display(flex, center, stretch);
    margin-top: rem(7);

		button {
			@include size(32, 81);
			flex: 0 0 rem(81);
			color: var(--orange);
			font-size: rem(14);

			@include display(flex, center, center);
			border: rem(1) solid var(--orange);
			border-radius: rem(10);
		} // -> button
	} // -> footer
} // -> collection
