//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/views/_components/headers/auth
//

.auth {
  &\:header {
    @include display(flex, center, center);
    padding: {
      top: rem(80);
      bottom: rem(40);
    };


    &__content {
      @include display(flex, center, center);
      margin: 0 auto;
    } // -> content

    h1 {
      @include font('Simplon Headline');
      font-size: rem(43);
      font-weight: 400;
      color: var(--orange);

      @include grow(true);
      margin-left: rem(15);

      small {
        font-size: rem(9);
        font-weight: 400;
        color: var(--orange);

        @include display(block);
        margin: {
          top: rem(-10);
          bottom: rem(6)
        }
      }
    } // -> h1
  } // -> header
} // -> auth
