//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/views/_components/headers/auth
//

.auth {
  &\:header {
    @include display(flex, center, center);
    padding: {
      top: rem(80);
      bottom: rem(40);
    };


    &-content {
      @include display(flex, center, center);
      margin: 0 auto;
    } // -> content

    &-title {
      @include font('Simplon Headline');
      font-size: rem(38);
      font-weight: 400;
      color: var(--orange);
      line-height: rem(38);
      letter-spacing: rem(-0.8);

      @include grow(true);
      margin-left: rem(15);

      small {
        @include font('Simplon');
        font-size: rem(13);
        font-weight: 400;
        color: var(--orange);
        line-height: rem(12);
        letter-spacing: rem(1);

        @include display(block);
        margin: {
          top: rem(-10);
          bottom: rem(6)
        }
      }
    } // -> h1
  } // -> header
} // -> auth
