//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/views/_components/headers/auth
//

$component: '.header-auth';

#{$component} {
	height: rem(162);
	@include display(flex, center, center);
	background-color: var(--light-orange);

	&__content {
		display: flex;
		margin: 0 auto;
	}

	h1 {
		@include font('Simplon Headline');
		font-size: rem(32);
		font-weight: 600;
		color: var(--orange);

		flex-grow: 1;
    margin-left: rem(9);

		small {
			font-size: rem(9);
			font-weight: 400;
			color: var(--orange);

			display: block;
			margin-bottom: rem(4);
		}
	}
}
