//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: helpers.scss
// Location: @/styles/layout/
//


// -> create flex
[class*="flex:"] {
  display: flex;
}
.flex {
  @each $name, $alias in $display_justify-content {

    &\:#{$alias} {
      @each $surName, $surAlias in $display_align-items {
        &\:#{$surAlias} {
          justify-content: $name;
          align-items: $surName;
        }
      }
    }
  }
}

.fd{
  &\:c {
    flex-direction: column;
  }
}
// -> create flex
