//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: toast.scss
// Location: @/assets/sass/components
//

#toast {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;

	padding: rem(25) rem(20);

	color: var(--white);
	text-align: center;
	font-size: rem(17);
	font-weight: bold;
	@include font('Simplon');

	transform: translateY(10px);
	opacity: 0;
	visibility: hidden;

  transition: all .2s ease;

  &.error {
    background-color: var(--red);
  }

  &.success {
    background-color: var(--green);
  }

	&.active {
		transform: translateY(0px);
		opacity: 1;
		visibility: visible;
	}
}
