/*
 Author: Oston <ti@oston.io>
 Name: Vue Base
 Description: Code for Vue projects
 File: app.scss
 Location: /
*/

@import "./assets/sass/core/settings",
				"./assets/sass/core/mixins";


@import "./assets/sass/layout/colors",
				"./assets/sass/layout/globals",
				"./assets/sass/layout/spacing",
				"./assets/sass/layout/buttons",
        "./assets/sass/layout/fonts",
        "./assets/sass/layout/helpers",
				"./assets/sass/layout/text",
				"./assets/sass/layout/form";

@import "./assets/sass/components/toast.scss";

@import "./assets/sass/themes.default",
				"./assets/sass/themes.dark";

