//
// Author: OSTON <ti@oston.io>
// Name: Vue Base
// Description: Code for Vue projects
// File: index.scss
// Location: @/views/auth
//

.auth {
  min-height: 100vh;
  border-right: rem(33) solid var(--white);
  background-color: var(--light-orange);
  padding: {
    bottom: rem(50);
  }

  &\:partners {
    @include display(flex, center, flex-end);

		height: rem(42);
    margin: 0 auto rem(40);

    img {
      @include display(block);
			@include circle(42);
			flex: 0 0 rem(42);
			margin: 0 rem(3);
			border: rem(1) solid var(--orange);
		} // -> img
  } // -> partners

  &\:title {
    color: var(--orange);
    font-size: rem(22);
    line-height: rem(31);
    @include font('Simplon Headline');

    width: rem(320);
    margin: 0 auto rem(64);
    position: relative;
    padding: {
      left: rem(10)
    }

    &:after {
      content: '';
      position: absolute;
      top: calc(100% + 22px);
      left: rem(10);

      @include size(3, 32);
      background-color: var(--orange);
    }
  } // -> title

  // -> css for form
  .form {
    &\:button {
      border-radius: rem(8) 0 0 rem(8);
      margin: {
        top: rem(40);
        right: rem(-33);
      }
    } // -> button

    &\:control {
      input {
        height: rem(78);
      }
    }
  } // -> form
} // -> auth
